@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Wet+Paint&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
}

/* nav */
nav {
  height: 10%;
  width: 100%;
  background-color: pink;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8c5b97;
  padding: 1.3rem;
}

.nav-left {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.nav-left img {
  height: 100%;
  width: 40%;
  cursor: pointer;
}

.nav-right {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-right a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 1%;
  transition: background-color 0.3s ease;
}

.nav-right a:hover {
  background-color: #674575;
}

.nav-right select {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  padding: 1%;
  transition: background-color 0.3s ease;
}

.nav-right select:hover {
  background-color: #674575;
  cursor: pointer;
}

.nav-right svg {
  color: #fff;
  transition: color 0.3s ease;
}

.nav-right svg:hover {
  color: #674575;
  cursor: pointer;
}

/* hero-sec */

.hero-sec {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 3rem;
  background-color: #8c5b97;
}

.hero-info {
  position: relative;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
}

.hero-desc {
  width: 55%;
  color: #fff;
}

.hero-desc h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 2.5%;
}

.hero-desc p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.hero-woman-main {
  position: absolute;
  height: 450px;
  right: 1%;
  width: 30%;
  border-radius: 0.3rem;
}

.hero-wom-first {
  position: absolute;
  top: 20%;
  right: 24%;
  width: 170px;
  height: 136px;
  border-radius: 0.3rem;
}

.hero-heart {
  position: absolute;
  right: 22%;
  top: 27%;
}

.hero-woman-second {
  position: absolute;
  height: 200px;
  width: 170px;
  top: 45%;
  right: -8%;
  border-radius: 0.3rem;
}

.hero-star {
  position: absolute;
  top: 18rem;
  right: -6%;
}

.hero-arrow {
  position: absolute;
  top: 14rem;
  right: 23%;
}

.hero-name {
  position: absolute;
  top: 18.5rem;
  right: 23%;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 500;
  transform: rotate(10deg);
  font-family: "Rubik Wet Paint", system-ui;
}

/* hero-contact */
.hero-contact {
  max-width: 95%;
  height: 30%;
  margin: 0 auto;
  margin-top: 5rem;
  border: 2px solid #674575;
  padding: 2%;
  border-radius: 0.9rem;
}

.hero-contact-marketing {
  display: block;
  margin-bottom: 2%;
}

.hero-contact input {
  border-color: #e3e3e3;
  border-radius: 4px;
  color: #000;
  font-weight: 400;
  outline: none;
  background: #ffffff;
  font-size: 15px;
  padding: 12px;
  border: 1px solid #e3e3e3;
  margin-right: 2%;
}

.hero-contact button {
  padding: 12px 24px;
  background-color: none;
  border: none;
  outline: none;
  background-color: #60b0ba;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  transition: background-color 0.4s ease;
}

.hero-contact button:hover {
  background-color: #529aa3;
  cursor: pointer;
}

.hero-contact p {
  margin-top: 2%;
  color: #fff;
  font-size: 1.1rem;
}

.squiggle {
  position: absolute;
  z-index: 111;
  margin-top: 1%;
  padding-left: 3%;
}

/* inside-mark-design-section */

.inside-mark-design {
  min-height: 100%;
  width: 100%;
}

.inside-mark-info {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  /* gap: 2%; */
  overflow: hidden;
}

.inside-photo {
  height: auto;
  max-width: 50%;
  background-color: #eeeef5;
}

.inside-photo img {
  height: 1000px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.inside-info {
  padding-left: 3%;
  background-color: #eeeef5;
  width: 50%;
  /* max-width: 40% */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.inside-right-photo {
  height: 180px;
  width: 190px;
  padding-top: 3%;
  /* margin-bottom: 1rem; */
}

.inside-info h3 {
  color: #303037;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}

.inside-info > p {
  color: #50505a;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2%;
}

.podcasts {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
}

.podcasts svg {
  color: #8c5b97;
  transition: color 0.4s ease;
}

.podcasts svg:hover {
  color: #81548b;
}

.podcasts a {
  text-decoration: none;
  color: #8c5b97;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  transition: color 0.4s ease;
}

.podcasts a:hover {
  color: #81548b;
}

.featuring-companies {
  margin-top: 5rem;
  position: relative;
}

.featuring-com-head {
  font-size: 1.3rem;
  transform: rotate(-5deg);
  letter-spacing: 2px;
  font-family: "Rubik Wet Paint", system-ui;
}

.inside-arrow {
  position: absolute;
  left: 22rem;
  top: 10%;
}

.comapnies {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.comapnies img {
  transition: color 0.3s ease, transform 0.3s ease;
}

.comapnies img:hover {
  color: #303037;
  transform: scale(1.2);
  cursor: pointer;
}

/* personal-brand-sec */

.personal-brand-sec {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #eeeef5;
}

.personal-brand-info {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.person-brand {
  min-width: 50%;
  padding-left: 3rem;
  padding-top: 5rem;
  background-color: #eeeef5;
}

.person-brand h2 {
  color: #303037;
  margin-top: 11rem;
  margin-bottom: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}

.person-brand p {
  color: #50505a;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 4%;
}

.person-brand button {
  background-color: #60b0ba;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 3px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  transition: background-color 0.4s ease;
}

.person-brand button:hover {
  background-color: #50a5b0;
  cursor: pointer;
}

.persoanl-photo {
  width: 50%;
  position: relative;
}

.persoanl-photo > img {
  height: 1000px;
  width: 700px;
  object-fit: cover;
  object-position: center;
}

.persoanl-photo .personal-squiggle {
  position: absolute;
  bottom: 19rem;
  right: -1rem;
  width: 300px;
  height: 100px;
}

.handwritten-sec {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 24px 40px 0 40px;
  display: flex;
  border: 1px solid rgb(140, 91, 151);
  border-radius: 1rem;
}

.handwritten-sec img {
  width: 235px;
  height: 190px;
}

.handwritten-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
}

.handwritten-info h3 {
  color: #303037;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3rem;
}

.handwritten-info p {
  color: #50505a;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 2rem;
}

.handwritten-info a {
  text-decoration: none;
  color: rgb(140, 91, 151);
  font-weight: 600;
  transition: color 0.4s ease;
}

.handwritten-info a svg {
  margin-left: 1.2%;
}

.handwritten-info a:hover {
  color: #674575;
}
